.sc-title {
    height: calc(100vh - 66px);
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.sc-title .wrap-area{
    overflow: hidden;
    width: 100%;
    height: 200vh;
}
.sc-title .title-area{
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
}
.sc-title .title-area .title-date{
    font-size: 25px;
    font-weight: 100;
    color: #00FF8B;
    
}
.sc-title .title-wrap{
    font-size: 159px;
    z-index: 1;
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: -.04em;
    line-height: .95;
}
.sc-title .title-wrap.back{
    width: 100vw;
}
.sc-title .title-wrap .title-pretendard{
    display: flex;
}
.sc-title .title-wrap .title-sub{
    font-size: 16px;
}
.sc-title .title-wrap .title-txt{
    font-weight: 700;
    display: flex;
    position: relative;
    overflow: hidden;
}
.sc-title .title-wrap .rolling {
    display: flex;
    flex-direction: column;
    position: absolute;
   top: 0;
    left: 0;
    width: 100%;
}

.sc-title .title-wrap .title-txt > span{
    color: #f00;
    opacity: 0;
}
.sc-title .title-wrap .rolling > span:nth-child(2n){
    color: #00FF8B;
}
.sc-title .title-bottom{
    text-align: left;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
   padding: 0 16px 30px;
   justify-content: space-between;
}

.sc-title .title-bottom .bottom-right{
    text-align: right;
}

.sc-title .title-bg{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 60;
    pointer-events: none;
    /* display: none; */
}
.sc-title .title-bg .title-wrap{
    width: 870px;
    height: 433px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.sc-title .title-wrap .char{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.sc-title .char.on .frag{
    display: inline-block;
    animation: cloud1 7s infinite linear;
}

.sc-title .char.on:nth-child(1) .frag{
    display: inline-block;
    animation: cloud2 8s infinite linear;
}
.sc-title .char.on:nth-child(2) .frag{
    display: inline-block;
    animation: cloud2 5s infinite linear;
}
.sc-title .char.on:nth-child(3) .frag{
    display: inline-block;
    animation: cloud2 8s infinite linear;
}
.sc-title .char.on:nth-child(4) .frag{
    display: inline-block;
    animation: cloud2 3s infinite linear;
}
.sc-title .char.on:nth-child(5) .frag{
    display: inline-block;
    animation: cloud2 3s infinite linear;
}
.sc-title .char.on:nth-child(9) .frag{
    display: inline-block;
    animation: cloud3 5s infinite linear;
}

.sc-title .char.on:nth-child(11) .frag{
    display: inline-block;
    animation: cloud2 5s infinite linear;
}
.sc-title .char.on:nth-child(13) .frag{
    display: inline-block;
    animation: cloud2 5s infinite linear;
}
.sc-title .char.on:nth-child(19) .frag{
    display: inline-block;
    animation: cloud2 6s infinite linear;
}

@keyframes cloud1 {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(30%);
    }
    
    100%{
        transform: translateY(0%);
    }
}

@keyframes cloud2 {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    
    100%{
        transform: translateY(0%);
    }
}

@keyframes cloud3 {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20%);
    }
    
    100%{
        transform: translateY(0%);
    }
}
.sc-title .title-bg .title-wrap img{
    scale: 1.5;
    display: block;
   padding-bottom: 400px;
}


.sc-intro{
    margin-top: 150px;
}
.sc-intro .intro-txt{
    width: 100%;
    line-height: 1.62em;
  display: grid;
    gap: 30px;
    font-size: 30px;
    white-space: nowrap;
}
.sc-intro .intro-txt .wrap{
    display: block;
    overflow: hidden;
}
.sc-intro .intro-txt .wrap .line{
    display: block;

}
.sc-intro .intro-txt .txt-right{
    grid-column: 2/2;
}
.sc-intro .intro-inner{
    display: flex;
    margin-top: 200px;
}
.sc-intro .intro-inner .intro-font{
    width: 40%;
    margin-right: 100px;
    position: relative;
}
.sc-intro .intro-inner .img-wrap{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.sc-intro .intro-inner .intro-font img{
   display: block;
}
.sc-intro .intro-inner .intro-font .intro-list{
   width: 100%;
   position: absolute;
   bottom: 0;
}
.sc-intro .intro-inner .intro-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 1.25rem;
    padding: 15px 0;
    position: relative;
    overflow: hidden;
}
.sc-intro .intro-inner .intro-item > span{
    display: block;
}
.sc-intro .intro-inner .intro-item .board{
   display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    background: #fff;
    top: 0;
    left: 0;

}

.sc-intro .intro-contents{
    font-size: 13px;
    width: 50%;
    padding-top: 17vw;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    line-height: 1.6;
    gap: 50px;
    overflow: hidden;

}
.sc-intro .intro-contents .wrap{
    display: block;
    overflow: hidden;
}
.sc-intro .intro-contents .wrap .line{
    display: block;
}

.sc-intro .intro-contents .link-inner{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.sc-intro .intro-contents .link-inner:hover{
    background: #00FF8B;
    color: #000;
}
.sc-intro .intro-contents .link-inner .line{
    display: block;
}
.sc-info{
    /* height: 300vh; */
    font-size: 12vw;
    text-align: center;
    position: relative;
}
.sc-info .info-txt{
    font-weight: 800;
    position: sticky;
    top: 0;
    height: 100vh;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sc-info .info-txt .cuts{
    margin-right: auto;
}
.sc-info .info-txt .styles{
    margin-left: auto;
}
.sc-info .info-bg{
    position: absolute;
}
.sc-info .info-bg .a1{
    top: 50%;
}
.sc-info .bg-wrapper{
    height: 600vh;
    position: relative;
}
.sc-info .bg-area{
    height: 900vh;
    position: relative;
}
.sc-info .bg-wrap{
   position: absolute;
    bottom: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
}
.sc-info .bg-wrap .char{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}
.sc-random{
   position: relative;
    background-color: #fff;
    border-radius: 16px;
    color: #000;
    width: 100%;
    padding-bottom: 100px;
}
.sc-random .rail-wrap{
    overflow: hidden;
    display: flex;
}
.sc-random .random-rail{
    padding-bottom: 100px;
    display: flex;
    font-size: 25px;
    line-height: 1.5;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

.sc-random .random-rail p span{
    margin: 0 20px;
}

.sc-random .random-contents{
    font-size: 5vw;
    width: 100%;
}
.sc-random .random-contents .contents{
}
.sc-random .random-contents .contents > span{
    display: block;
    position: relative;
    height: 5vw;
}
.sc-random .random-contents .txt1{
    font-weight: 100;
}
.sc-random .random-contents .txt2{
    font-weight: 500;
}
.sc-random .random-contents .txt3{
    font-weight: 300;
}
.sc-random .random-contents .txt4{
    font-weight: 900;
}
.sc-random .random-contents .txt5{
    font-weight: 100;
}
.sc-random .random-contents .txt6{
    font-weight: 600;
}
.sc-random .random-contents .txt7{
    font-weight: 400;
}
.sc-random .random-contents .txt8{
    font-weight: 200;
}
.sc-random .random-contents .word{
    text-align: center;
    white-space: nowrap;
    display: block;
}
.sc-random .random-contents .contents .txt{
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}


.sc-font{
    position: relative;
    z-index: 20;
    background: #000;
    padding-top: 100px;
}
.sc-font::after{
    padding: 0;
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.sc-font .font-area{
    height: 100%;
    position: relative;
}
.sc-font .font-wrap{
    margin-left: 2px;
    position: sticky;
    top: 66px;
    z-index: 10;
    background: #000;
}
.sc-font .font-wrap .font-list{
    position: absolute;
    width: calc(50% + 10px);
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #000;
}
.sc-font .font-wrap .font-list .btn-font{
    padding: 1rem 1.2rem;
    border-top: 1px solid #fff;
    display: none;
    width: 100%;
    text-align-last: left;
}
.sc-font .font-wrap .font-list .btn-font.open{
    display: block;
}

.sc-font .font-wrap button:hover{
    color:#000;
    background: #fff;
}
.sc-font .font-wrap .font-current{
    width: calc(50% + 10px);
    position: relative;
    background: #000;
}
.sc-font .font-wrap .btn-font.current{
    border-width: 1px 1px 0 1px;
    border-color: #fff;
    border-style: solid;
    padding: 1rem 1.2rem;
    display: block;
    width: 100%;
    text-align-last: left;

}
.sc-font .font-wrap .font-current::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100vw;
}
.sc-font .font-wrap .btn-font.open.current::after{
    transform: rotate(180deg);
}
.sc-font .font-wrap .btn-font.current::after{
    content: "↓";
    position: absolute;
    top: 0;
    right:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.75rem;
    font-variation-settings: "wght" 600;
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
}
.sc-font .font-box {
   display: flex;
    position: relative;
}
.sc-font .font-box .font-contents{
    border-right: 1px solid #fff;
    padding-left: 20px;
    flex: 1;
}
.sc-font .font-contents .font-title{
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 45px;
    line-height: 1.5em;
}
.sc-font .font-contents .font-list {
    padding-bottom: 70px;
}
.sc-font .font-contents .font-list .font-item{
    padding-top: 12px;
    font-size: 26px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.sc-font .font-contents .font-list .font-item.on{
    background: #00FF8B;
    color: #000;
}
.sc-font .font-box{
    height: 100%;
}
.sc-font .font-box .font-prev{
    position: sticky;
    top: 200px;
    height: 100%;
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 200px;
}
.sc-font .font-box .font-prev span{
    top: 0;
    display: block;
    font-size: 500px;
}

.sc-try{
    padding-top: 150px;
    background: #000;
    position: relative;
    height: 100%;
    width: 100%;
}
.sc-try .try-title{
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
}
.sc-try .try-font{
    display: flex;
    gap: 20px;
    

}
.sc-try .try-font .btn-try{
    flex: 1;
    border: 1px solid #fff;
    padding: 0.75rem 1.25rem;
}
.sc-try .try-box{
    display: flex;
}
.sc-try .try-box label{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-bottom: 30px;
}

.sc-try .try-box span:first-child{
    opacity: 0.7;
}
.sc-try .try-box .try-form{
    flex: 1;
    padding-top: 30px;
}
.sc-try .try-box .try-form+.try-form{
    margin-left: 20px;
}
.sc-try .try-box input[type=range]{
	width:100%;
	-webkit-appearance: none;
	background: transparent;
}
.sc-try .try-box .range-form{
    position: relative;
}
.sc-try .try-box input::before{
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.sc-try .try-box input[type=range]:focus{
    outline: none;
}
.sc-try .try-box input[type=range]::-ms-track {
    width: 100%; 
    cursor: pointer; 
    background: transparent; 
    border-color: transparent;  
    color: transparent; 
  }
  .sc-try .try-box input[type=range]::-webkit-slider-thumb{
    position: relative;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #000;
    border: 1px solid #fff;
    border-radius:50%;
    cursor: ew-resize;
  }
  .sc-try .try-box input[type=range]::-moz-range-thumb{
    position: relative;
    -webkit-appearance: none;
    width:30px;
    height:30px;
    background: #000;
    border: 1px solid #fff;
    border-radius:50%;
    cursor: ew-resize;
  }
  .sc-try .try-box input[type=range]::-ms-thumb{
    position: relative;
    -webkit-appearance: none;
    width:30px;
    height:30px;
    background: #000;
    border: 1px solid #fff;
    border-radius:50%;
    cursor: ew-resize;
  }

.sc-try .try-txt{
    margin-top: 3.75rem;
    /* height: 100%; */
}
.sc-try .try-txt .try-sphin{
    text-align: center;
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
    background: #000;
    outline: 0;
    font-size: 200px;
    line-height: 1.2;
    overflow-y: hidden;
}
.sc-try .try-txt .try-sphin:focus{
    color: #00FF8B;
}

.sc-glyph{
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    padding-bottom: 200px;
}
.sc-glyph .title-wrap{
    overflow: hidden;
    position: relative;
}
.sc-glyph .title{
    transform: translateY(-130%);
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 70px;
}
.sc-glyph .title-wrap .board-wrap{
    overflow: hidden;
}
.sc-glyph .title-wrap .board{
    display: block;
    height: 1px;
    background: #fff;
}

.sc-glyph .glyph-list{
    display: grid;
    grid-area: auto / title / auto / interaction;
    grid-template-areas: 'title contents interaction';
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
    font-size: 20px;
}
.sc-glyph .glyph-box{
    overflow: hidden;
}
.sc-glyph .glyph-list .glyph-item{
    transform: translateY(-100%);
    color: #000;
    padding: 0.75em;
    grid-area: auto;
    word-break: break-word;
    background-color: #fff;
    border-radius: 0.75em;
}
.sc-glyph .glyph-list .glyph-item .head{
    display: flex;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}
.sc-glyph .glyph-list .glyph-item .content{
    line-height: 1.76;
    font-size: 40px;
}
.sc-glyph .glyph-list .glyph-item .color-text{
    color: #00FF8B;
}

.sc-ad{
    height: 400vh;
}
.sc-ad .ad-inner {
    height: 350vh;
}
.sc-ad .ad-inner .ad-wrapper{
    position: sticky;
    top: 0;
    width: 80vw;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.sc-ad .ad-wrapper > a{
   display: block;
   background: #fff;
   color: #000;
   padding: 1rem; 
   opacity: 0;
   width: 370px;
}
.sc-ad .ad-inner .ad-box{
}
.sc-ad .ad-wrapper > a:hover{
    background: #00FF8B;
}
.sc-ad .ad-wrapper a::after{
    display: block;
    content: "→";
    opacity: 0;
   padding-bottom: 10px;
}
.sc-ad .ad-wrapper a:hover::after{
    opacity: 1;  
    transition: all 1s;
    animation: arrow 2s infinite linear alternate; 
}

@keyframes arrow{
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0%);
    }
}
.sc-ad .ad-inner {

}
.sc-ad .ad-inner .link-ad1{
    transform: translateY(-60%);
}
.sc-ad .ad-inner .link-ad2{
    transform: translateY(-20%);
    background-color: #CECECE;
}
.sc-ad .ad-inner .link-ad3{
    transform: translateY(30%);
    background-color: #7F7F7F;
    color: #fff;

}
.sc-ad .ad-inner .link-ad3:hover{
    color: #000;
}
.sc-ad .ad-inner .badge{
    display: flex;
}
.sc-ad .ad-inner .badge .ad-label{
    margin-left: auto;
}
.sc-ad .ad-inner .ad-title{
  text-align: center;
  display: flex;
  align-items: center;
  height: 280px;
  padding: 20px;
}

.sc-ad .ad-inner .title{
    flex: 1;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 600;
}
.sc-credits{
    margin-top: 150px;
}
.sc-credits .cd-title{
    font-size: 40px;
    margin-bottom: 80px;
}
.sc-credits .credits-inner{
    display: grid;
    gap: 30px ;
    grid-template-columns: 70% 27%;
}
.sc-credits .credits-box{

}
.sc-credits .credits-box .credits-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.sc-credits .credits-box .title{
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
   display: block;
    border-bottom: 1px solid #fff;
}
.sc-credits .credits-box .desc{
    line-height: 1.5;
}